body {
	font-style: italic;
}
h2 {
    text-transform: uppercase;
    text-align: center;
}
input[type=date], input[type=time], input[type=number] {
    width: 95%;
}
#flightForm {
    width: 400px;
    background-color: rgb(255, 192, 203);
}
.dropdown {
    width: 95%;
}