-- Problem 13.	Write a SQL query to find the salary of all employees whose salary is in the range [20000…30000].

SELECT [FirstName]
      ,[LastName]
	  ,[Salary]
  FROM [SoftUni].[dbo].[Employees]
  where Salary between 20000 and 30000